<template>
  <footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Covid 19</strong> by <a href="https://portoflioalexandreviretti.herokuapp.com/">{{name}}</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a> © Viretti Alexandre .
    </p>
  </div>
</footer>
</template>

<script>
export default {
  name: "Footer",
  data(){
    return{
      name: "Covid Team"
    }
  }
}
</script>

<style>
.footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 45px;
}

@media (min-width: 320px) {
  .footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 45px;
}
.details{
  height: 110vh;
}
.card{
  height: 70vh;
}
}
@media (min-width: 1400px) {
  .footer{
  left: 0;
  bottom: 0;
  width: 100%;
  height: 45px;
}
.details{
  height: 104vh;
}
.card{
  height: 55vh;
}
}

@media (min-width: 1700px) {
  .card{
  height: 55vh;
}
.details{
  height: 70vh
}
}

@media (min-width: 1900px) {
  .card{
  height: 55vh;
}
.details{
  height: 80vh
}
}
</style>
