<template>
  <b-navbar>
        <template slot="brand">
            <b-navbar-item tag="router-link" :to="{ name: 'Home' }">
                <img
                    src="../../assets/logo.png"
                    alt="Lightweight UI components for Vue.js based on Bulma"
                    class="logo"
                >
            </b-navbar-item>
        </template>
        <template slot="start">
            <router-link :to="{ name: 'Home' }" class="navbar-item">
                Home
            </router-link>
            <router-link :to="{ name: 'Gmap' }" class="navbar-item">
                Maps
            </router-link>
            <b-navbar-dropdown label="Info">
                <b-navbar-item href="https://www.google.com/search?tbm=nws&sxsrf=ALeKk00K8wqX0Xz7pnzgNhgwT4BHUkMSKA%3A1584354040133&ei=-FJvXvPdB6mZlwT0hbK4Bw&q=covid+19&oq=covid+19&gs_l=psy-ab.3..0l10.2532.4986.0.5203.9.7.0.2.2.0.163.503.1j3.5.0....0...1c.1.64.psy-ab..2.6.513.0...103.I_u0jG4OrdE" target="_blank">
                    Actualité
                </b-navbar-item>
                <b-navbar-item href="https://www.gouvernement.fr/info-coronavirus#xtor=SEC-3-GOO-[{adgroup}]-[425080454098]-search-[covid]" target="_blank">
                    Contact
                </b-navbar-item>
            </b-navbar-dropdown>
        </template>

        <template slot="end">
            <b-navbar-item tag="div">
                <div class="buttons">
                    <a class="button is-primary">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-light">
                        Log in
                    </a>
                </div>
            </b-navbar-item>
        </template>
    </b-navbar>
</template>

<script>
export default {
  name: "Navbar",
  data(){
    return{

    }
  }
}
</script>

<style>
.router-link-exact-active{
  width: 80px;
  height: 80px;
}
.router-link-exact-active img{
  height: 80px;
}

.navbar-item img {
  max-height: 3.5em !important;
}
</style>
