<template>
<div style="height: 100vh">
  <div class="container is-fluid home-container">
    <div class="notification">
      Le Covid-19 a touché <strong>{{number}}</strong> personnes à travers le monde.
    </div>
      <div class="notification">
      En France <strong>{{france}}</strong> personnes touchées dont <strong>{{franceDeath}}</strong> décès.
    </div>
  </div>
  <div class="contenu">
   <section class="hero">
  <div class="hero-body">
    <div class="container-button">
        <router-link :to="{name: 'StatsPays'}" class="button is-primary">Stats des autres Pays</router-link>
    </div>
  </div>
</section>
  </div>
</div>
</template>

<script>
import axios from "axios"
export default {
  name: 'Home',
  data () {
    return {
      number: null,
      death: null,
      france: null,
      death: null,
      franceDeath: null
    }
  },
  methods: {
    getNumber(){
     const cors = "https://cors-anywhere.herokuapp.com/"
      axios.get(`${cors}https://covid19.mathdro.id/api/`)
      .then((response => {
        this.number = response.data.confirmed.value
        this.death = response.data.deaths.value
      }))
    },
    franceNumber(){
     const cors = "https://cors-anywhere.herokuapp.com/"
      axios.get(`${cors}https://covid19.mathdro.id/api/countries/FRA`)
      .then((response => {
        this.france = response.data.confirmed.value,
        this.franceDeath = response.data.deaths.value
      }))
    },
  },
  beforeMount(){
    this.getNumber();
    this.franceNumber();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.home-container{
  background-image: url("https://covid19.mathdro.id/api/og");
  background-size:cover;
  height: 50vh;
}
.notification{
  margin-bottom: 1px !important;
}
.contenu{
  height: 380px;
}
.container-button {
  display: flex;
  justify-content: center;
}
</style>
