<template>
<div stye="height:100%">
  <div class="flex">
    <b-field label="Pays" class="field-pays">
        <b-select placeholder="Select a countrie" v-model="selectedCountry" @input="findCode">
            <option v-for="(pays,id) in allPaysName" :key="id" >
                {{ pays }}
            </option>
        </b-select>
    </b-field>
    <b-loading :active.sync="isLoading" :can-cancel="true"></b-loading>
  </div>
        <p v-if="feedback" class="feedback" style="text-align: center">{{feedback}}</p>
        <div class="details" v-if="confirmed">
          <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img :src="`https://source.unsplash.com/1600x900/?${this.selectedCountry}`" alt="Placeholder image">
            </figure>
          </div>
          <div class="content">
            <br>
            Le nombre de cas en {{selectedCountry}} s'élève à <span class="" style="color: red">{{confirmed}}</span> confirmés.
            <br>
            Et le nombre de décès s'élève à <span style="color: red">{{deaths}}</span>
            <br>
            <time datetime="2016-1-1">{{lastUpdate}}</time>
          </div>
        </div>
      </div>
</div>

</template>

<script>
import axios from "axios"
import DatePick from 'vue-date-pick';
export default {
  name: "StatsPays",
  data(){
    return{
      selectedPays: "FR",
      confirmed: null,
      allPaysName:[],
      allPays: null,
      selectedCountry: null,
      feedback: null,
      lastUpdate: null,
      deaths : null,
      isLoading: null,
    }
  },
  methods:{
    getPays(){
      const cors = "https://cors-anywhere.herokuapp.com/"
      axios.get(`${cors}https://covid19.mathdro.id/api/countries/${this.selectedCountry.toLowerCase()}`)
      .then((response => {
        console.log(response.data)
        this.feedback = null
        this.confirmed = response.data.confirmed.value
        this.deaths = response.data.deaths.value
        this.lastUpdate = new Date(response.data.lastUpdate);
        //let day = d.getUTCDay();
        //let month = d.getUTCMonth();
        // let year = d.getUTCYears();
        //let hour = d.getUTCHours(); // Hours
        // let minutes = d.getUTCMinutes();
        //console.log(d,month)
        // this.lastUpdate = `Le ${day}/${month}/${year} ${hour}:${minutes}`
      })).catch(err => {
        this.feedback = "Malheureusement aucune donnée pour ce pays"
      })
    },
    getAllPays(){
      const cors = "https://cors-anywhere.herokuapp.com/"
      axios.get(`${cors}https://covid19.mathdro.id/api/countries`)
      .then((response => {
        let array = []
        array.push(response.data.countries)
        this.allPays = response.data.countries
        this.allPaysName = (Object.keys(array[0]))
      }))
    },
    findCode(){
      let name = this.selectedCountry;
      this.selectedPays = this.allPays[name];
      this.openLoading()
      this.getPays();
      },
      openLoading() {
                this.isLoading = true
                setTimeout(() => {
                    this.isLoading = false
                }, 2 * 1000)
            }
  },
  beforeMount(){
    this.getAllPays();
  }
}
</script>

<style>
  .feedback{
    font-size: 25px;
    color: red;

  }
  .details{
    height: 500px;
  }
  .details{
    display: flex;
    justify-content: center;
    height: 80vh;
  }
  .card {
    width: 350px;
    height: 70vh;
    margin-top: 45px;
    margin-bottom: 25px;
  }
  .flex{
    display: flex;
    justify-content: center;
  }
  .field-pays{
    text-align: center;
  }
  .field-pays label{
    font-size: 45px;
  }
.select select:not([multiple]){
  padding: 0.2em;
}
</style>
