<template>
<div>
  <b-button type="is-info" @click="getCoords">Voir les décès</b-button>
  <date-pick v-model="date"></date-pick>
  <div class="map">
    <div class="google-map" id="map"></div>
  </div>
</div>
</template>

<script>
import axios from "axios"
import DatePick from 'vue-date-pick';
import 'vue-date-pick/dist/vueDatePick.css';
export default {
  name: "Gmap",
  components: {DatePick},
  data(){
    return{
      lat: 53,
      lng: -2,
      coords: [],
      date: '15-03-2020',
      jour: "05",
      mois: "03",
      annee: "2020",
    }
  },
  methods: {
      renderMap(){
        axios.get(`https://covid19.mathdro.id/api/daily/${this.mois}-${this.jour}-${this.annee}`).then((response)=>{
          this.coords.push(response.data)
        })
        const map = new google.maps.Map(document.getElementById('map'),{
          center: {
            lat: this.lat,
            lng: this.lng
          },
          zoom: 9,
          maxZoom: 15,
          minZoom: 3,
          streetViewControl: false
        })
        let marker = new google.maps.Marker({
          position: {
            lat: this.lat,
            lng: this.lng
          },
          map
        })
        if(this.coords){
          // console.log(this.coords)
          this.coords.forEach(coord => {
            coord.forEach(coo=> {
            // console.log("coucou", coo.latitude)
              let markerCovid = new google.maps.Marker({
              position: {
                lat: parseInt(coo.latitude),
                lng: parseInt(coo.longitude)
              },
              map
            })
            markerCovid.addListener('click', () => {
              console.log(coo.latitude, coo.longitude)
            })
            })
        })
        }else{

        }
    },
    getCoords(){
      let elem = this.date.split("-");
      this.annee = elem[0];
      this.mois = elem[1];
      this.jour = elem[2];
      this.renderMap();
    },
  },
  mounted(){
          if(navigator.geolocation){
            navigator.geolocation.getCurrentPosition(pos=> {
              this.lat = pos.coords.latitude,
              this.lng = pos.coords.longitude
              this.renderMap();
        })
      } else {
        this.renderMap()
    }
  },
}
</script>

<style>
.google-map{
  width: 100%;
  height: 100%;
  margin:0 auto;
  background: #ffffff;
  position: absolute;
  top: 0;
  left:0;
  z-index: -1;
}
.is-info{
  margin-top: 2px;
}
.vdpComponent input{
  font-size: 15px;
  text-align: center;
  height: 35px;
  margin-top: 2px;
}
</style>
